{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "quoteProps": "consistent",
  "arrowParens": "avoid",
  "array": ["preserve"],
  "printWidth": 120
}
